# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# mkdocs documentation
/site

# PyCharm
.idea/


# config files
*config.py

# README previews
*.html
README_files/

# Data Files
data/

# http requests
*.http
